<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>wms-ncx</title>
        <meta name="description" content="Responsive Admin Web App with Bootstrap and AngularJS">
        <meta name="keywords" content="angularjs admin, admin templates, admin themes, bootstrap admin">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">

        <!-- google fonts -->
        <script type="text/javascript">
            WebFontConfig = {
                google: { families: [ 'Roboto:100,300,400,400italic,500,700:latin' ] }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = 'bower_components/webfontloader/webfontloader.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })(); 
        </script>


        <!-- Needs images, font... therefore can not be part of main.css -->
        <link rel="stylesheet" href="styles/loader.css">
        <link rel="stylesheet" href="vendors/material-design-icons/iconfont/material-icons.css" rel="stylesheet" >
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <!-- end Needs images -->

            
            <!-- build:css({.tmp,client}) styles/main.css -->
            <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
            <link rel="stylesheet" href="styles/bootstrap.css">
            <link rel="stylesheet" href="styles/ui.css">
            <link rel="stylesheet" href="styles/app.css">
            <!-- endbuild -->

    </head>
    <body data-ng-app="app"
          id="app"
          class="app"
          data-custom-page 
          data-ng-controller="AppCtrl"
          data-ng-class=" { 'layout-boxed': main.layout === 'boxed', 
                            'nav-collapsed-min': main.isMenuCollapsed
          } ">
        <!--[if lt IE 9]>
            <div class="lt-ie9-bg">
                <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
                <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            </div>
        <![endif]-->

        <div id="loader-container"></div>

        <header data-ng-include=" 'app/layout/header.html' "
                 id="header"
                 class="header-container "
                 data-ng-class="{ 'header-fixed': main.fixedHeader,
                                  'bg-white': ['11','12','13','14','15','16','21'].indexOf(main.skin) >= 0,
                                  'bg-dark': main.skin === '31',
                                  'bg-primary': ['22','32'].indexOf(main.skin) >= 0,
                                  'bg-success': ['23','33'].indexOf(main.skin) >= 0,
                                  'bg-info': ['24','34'].indexOf(main.skin) >= 0,
                                  'bg-warning': ['25','35'].indexOf(main.skin) >= 0,
                                  'bg-danger': ['26','36'].indexOf(main.skin) >= 0
                 }"></header>

        <div class="main-container"
             data-ng-class="{ 'app-nav-horizontal': main.menu === 'horizontal' }">
            <aside data-ng-include=" 'app/layout/sidebar.html' "
                   id="nav-container"
                   class="nav-container"  
                   data-ng-class="{ 'nav-fixed': main.fixedSidebar,
                                    'nav-horizontal': main.menu === 'horizontal',
                                    'nav-vertical': main.menu === 'vertical',
                                    'bg-white': ['31','32','33','34','35','36'].indexOf(main.skin) >= 0,
                                    'bg-dark': ['31','32','33','34','35','36'].indexOf(main.skin) < 0
                   }">
            </aside>

            <div id="content" class="content-container">
                <section data-ui-view
                         class="view-container {{main.pageTransition.class}}"></section>
            </div>

        </div>


        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>
        <!-- endbuild -->


        <!-- build:js scripts/ui.js -->
        <script src="bower_components/angular-translate/angular-translate.min.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

        <script src="bower_components/angular-material/angular-material.min.js"></script>

        <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
        <script src="bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>

        <script src="vendors/echarts.js"></script>        
        <script src="vendors/ngecharts.js"></script>

        <script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
        <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
        <!-- endbuild -->


        <!-- build:js scripts/app.js -->
        <!-- inject:js -->
        <script src="app/app.module.js"></script>
        <script src="app/admin/warehouse.module.js"></script>
        <script src="app/chart/chart.module.js"></script>
        <script src="app/core/core.module.js"></script>
        <script src="app/form/form.module.js"></script>
        <script src="app/form/formValidation.module.js"></script>
        <script src="app/layout/layout.module.js"></script>
        <script src="app/page/page.module.js"></script>
        <script src="app/table/table.module.js"></script>
        <script src="app/ui/ui.module.js"></script>
        <script src="app/admin/warehouse.controller.js"></script>
        <script src="app/chart/echarts.controller.js"></script>
        <script src="app/core/app.config.js"></script>
        <script src="app/core/app.controller.js"></script>
        <script src="app/core/config.lazyload.js"></script>
        <script src="app/core/config.route.js"></script>
        <script src="app/core/i18n.js"></script>
        <script src="app/dashboard/dashboard.controller.js"></script>
        <script src="app/form/form.controller.js"></script>
        <script src="app/form/formValidation.controller.js"></script>
        <script src="app/form/wizard.controller.js"></script>
        <script src="app/layout/customizer.controller.js"></script>
        <script src="app/layout/layout.diretive.js"></script>
        <script src="app/layout/loader.js"></script>
        <script src="app/layout/sidebar.directive.js"></script>
        <script src="app/page/page.controller.js"></script>
        <script src="app/page/page.directive.js"></script>
        <script src="app/table/table.controller.js"></script>
        <script src="app/ui/material.controller.js"></script>
        <script src="app/ui/ui.controller.js"></script>
        <script src="app/ui/ui.directive.js"></script>
        <!-- endinject -->
        <!-- endbuild -->
    </body>
</html>
