
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title"> <span data-translate="NAVIGATION"></span> </li>
        <li><a md-button aria-label="menu" href="#!/dashboard"><i class="material-icons">home</i><span data-translate="DASHBOARD"></span></a></li>

        <li>
            <a md-button aria-label="menu" href="#!/admin"><i class="material-icons">view_list</i><span data-translate="MASTER_DATA"></span></a>
            <ul>
                <li><a md-button aria-label="menu" href="#!/admin/list-warehouse"><i class="fa fa-circle"></i><span data-translate="WARE_HOUSES"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/admin/" disabled="true"><i class="fa fa-circle"></i><span data-translate="COMMODITIES"></span> <span class="badge badge-info"></span></a></li>
                <li><a md-button aria-label="menu" href="#!/admin" disabled="true"><i class="fa fa-circle"></i><span data-translate="ACCOUNTS"></span></a></li>
            </ul>
        </li>

    
</div>