<div class="page-forgot" ng-controller="authCtrl">


    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">
                        <section class="logo text-center" style="margin-top: -20px; margin-bottom: 20px;">
                              <img ng-src="{{imag}}"/>
                        </section>                    
                        <form>
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="email" required class="form-control">
                                        <span class="input-bar"></span>
                                        <label>Email</label>
                                    </div>
                                    <div class="additional-info text-center text-small">
                                       Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.
                                   </div>
                               </div>
                           </fieldset>
                       </form>
                   </div>
                   <div class="card-action no-border text-right">
                        <a href="#!/" class="color-primary">Reset</a>
                    </div>
                </div>
            </div>
        </div> 

    </div>
</div>

