<div class="page-signup" ng-controller="authCtrl">

    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">

                <div class="card bg-white">
                    <div class="card-content">
                        <section class="logo text-center" style="margin-top: -20px; margin-bottom: 20px;">
                            <img ng-src="{{imag}}"/>
                        </section>

                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="text" required class="form-control">
                                        <span class="input-bar"></span>
                                        <label>Username</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="Email" required class="form-control">
                                        <span class="input-bar"></span>
                                        <label>Email</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="Password" required class="form-control">
                                        <span class="input-bar"></span>
                                        <label>Password</label>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <div class="form-group">
                                    <p class="text-small">By clicking on sign up, you agree to <a href="javascript:;"><i>terms</i></a> and <a href="javascript:;"><i>privacy policy</i></a></p>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-right">
                        <a href="#!/page/signin">Login</a>
                        <a href="#!/" class="color-primary">Sign Up</a>
                    </div>
                </div> 

            </div>
        </div>
    </div>
</div>