<div class="page-signin bgImage" ng-controller="authCtrl">

    <div class="wrapper" >
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">

                        <section class="logo text-center">
                            <div style="margin-top: -20px; margin-bottom: 20px;">
                                <img ng-src="{{imag}}"/>
                            </div>
                        </section>

                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="text" required class="form-control">
                                        <span class="input-bar"></span>
                                        <label>Username</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="password" required class="form-control">
                                        <span class="input-bar"></span>
                                        <label>Password</label>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="card-action no-border text-right">
                        <a href="#!/dashboard" class="color-primary">Sign in</a>
                    </div>
                </div>

                <div class="additional-info">
                    <a href="#!/page/signup">Register</a>
                    <span class="divider-h"></span>
                    <a href="#!/page/forgot-password">Forgot your password?</a>
                </div>

            </div>
        </div>

    </div>

</div>

