<div class="page page-table" ng-app="app.table">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
           <!-- <h2 class="section-header">Warehouse</h2>-->
        <div><a href="#!/admin/new-warehouse">
            <md-button class="md-raised btn-w-md md-primary">NEW</md-button>
        </a>
        </div>


        <div class="divider">
        </div>

        </div>
        <div class="col-md-12" >
            <div class="panel panel-default">
            <div class="panel-body" ng-controller="customController">
                <table class="table no-margin">
                    <thead>
                        <tr>
                            <th>Warehouse #</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Date created</th>
                            <th>View/Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="val in value">
                            <td>{{value}}</td>
                            <td>{{}}</td>
                            <td>{{}}</td>
                            <td>{{}}</td>
                            <td>{{}}</td>
                            <td><a href="#!/admin/edit-warehouse"><span class="label label-default">View/Edit</span></a></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>

   
</div>