
<div class="page">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">
                
            </h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">

                <div class="panel-body padding-xl">

                    <div class="row">

                        <div class="col-md-4 col-md-offset-2">

                            <form role="form" action="" method="">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="warehousename" placeholder="Warehouse #" disabled="true">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Manager" placeholder="Warehouse-name">
                                </div>
                                <div class="form-group">
                                    <input type="Manager" class="form-control" id="status" placeholder="Manager">
                                </div>
                                <div class="">
                                    <label>
                                        Status:<md-switch ng-model="switchData.cb1" aria-label="Switch">{{}}</md-switch>
                                    </label>
                                </div>
                                <br>
                                <div>
                                <md-button type="submit" class="md-raised btn-w-md">Add</md-button><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

                                <a href="#!/admin/list-warehouse">
                                <md-button type="submit" class="md-raised btn-w-md">Cancel</md-button></a></div>

                            </form>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>