<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div data-echarts data-options="combo.options" style="height: 400px;"></div>
                    <div class="divider divider-lg"></div>
                   
                </div> 
            </div>
        </div>
    </div>
      
    </div>

    